/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2030FF;
    background-alt: #24273AFF;
    foreground:     #CAD3F5FF;
    selected:       #F5BDE6FF;
    active:         #ABE9B3FF;
    urgent:         #F28FADFF;
}
